/* Estilos del video para ocupar toda la pantalla */
.video video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    z-index: 1; 
}

/* Estilos del botón */
.volver button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
    height: 50px;
    padding: 12px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex; /* Asegura que todo el botón sea clickeable */
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 2; 
}

/* Efecto al pasar el cursor */
.volver button:hover {
    transform: scale(1.1); /* Agranda el botón ligeramente */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Añade sombra */
}
