/* Estilos del video para ocupar toda la pantalla */
.video video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    z-index: 1; 
}


.volver button {
    position: absolute;
    bottom: 650px;
    right: 20px;
    width: 150px;
    height: 50px;
    padding: 12px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 2; /* más que el video pero menos que la flecha */
}

/* Efecto al pasar el cursor */
.volver button:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Header con flecha fija */
header {
    width: 80vw;
    height: 15vh;
    position: fixed; /* siempre visible */
    top: 0;
    left: 0;
    z-index: 1000;   /* encima de todo */
    background: transparent;
}

header a {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.flechar {
    width: 90px; 
    height: 70px;
    background-color: transparent; 
    padding: 9px 18px; 
    border-radius: 25px;
}

.volve {
    display: flex;
    align-items: center;
    padding-left: 23px;
    padding-top: 34px;
}

.flechar:hover {
    border: solid rgba(0, 0, 0, 0.8); 
    transform: scale(1.1); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}
