*{
    padding: 0px;
    margin: 0px;
}

header{
    width: 100vw;
    height: 15vh;
}

header a{
    height: 100%;
    display: flex;
    align-items: center;
}

footer{
    width: 100vw;
    height: 15vh;
}

footer a{
    height: 100%;
    display: flex;
    align-items: center;
}

.flechar{

    width: 10vw;
    height: 12vh;
    position: relative;
    top: -20px;
    
}

.volver{
    width: 0;
}
.flechab {

    width: 10vw;
    height: 12vh;
    transform: scale(-1);
    position: relative;
    right: -200vh;
    bottom: -20px;

}

.todo{

height: 100vh;
width: 100vw;
display: flex;
flex-direction: column;
justify-content: space-between;
}




