*{
    padding: 0px;
    margin: 0px;
}

header{
    width: 100vw;
    height: 15vh;

}

header a{
    height: 100%;
    display: flex;
    align-items: center;
}

footer{
    width: 100vw;
    height: 15vh;

}

footer a{
    height: 100%;
    display: flex;
    align-items: center;
}

.flechar{

    width: 90px; 
    height: 70px;
    background-color: white; 
    padding: 9px 18px; 
    border-radius: 25px;

}

.volver{
    display: flex;
    align-items: center;
    padding-left: 23px;
    padding-top: 34px;
}
.flechab {

    width: 7vw;
    height: 12vh;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scale(-1);
}

.todo{
height: 100vh;
width: 100vw;
display: flex;
flex-direction: column;
justify-content: space-between;
}




.flechar:hover {
    border: solid rgba(000, 000, 000, 0.8); 
    transform: scale(1.1); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}