*{
    margin: 0;
    padding: 0;
}

header{
    width: 100vw;
    height: 15vh;
}

main{
    width: 100vw;
    height: 85vh;
}

section{

    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    width: 50vw;
    height: 50vh;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.caja {

    width: 200px;
    height: 200px;
    color: #000;
    background-color: rgb(138, 170, 197);
    text-align: center;
    align-items: center;
    font-size: 40px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: flex;
        border: none;
    padding: 0px;
    cursor: pointer;
    justify-content: center;
    position: relative;
}

.titulo {

    text-align: center;
    font-size: 30px;
    width: 1;
    position: relative;
    top: -24px;
    width: 100vw;
    display: flex;
    justify-content: center;
}


.link{
    text-decoration: none;
}
