*{
    margin: 0;
    padding: 0;
}
.pantalla {

    text-align: center;
    font-size: 30px;
}

section{

    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    width: 50vw;
    height: 50vh;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.caja {

    width: 200px;
    height: 200px;
    color: #000;
    background-color: rgb(138, 170, 197);
    text-align: center;
    align-items: center;
    font-size: 40px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: flex;
        border: none;
    padding: 0px;
    cursor: pointer;
    justify-content: center;
    position: relative;
}

.arrow_back{

    width: 6vw;
    height: 12vh;
    position: relative;
    

}

.leo{
    position: relative;
    right: 100vh;
}
.titulo{

position: relative;
bottom: 30px;
    width: 100vw;
    display: flex;
    justify-content: center;

}


.pedro{
    text-decoration: none;
}