main{
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url('Opciones\ de\ juego.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.grid-container{
    width: 90vw;
    height: 50vh;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.caja {
    width: 580px;
    height: 100px;
    color: #000;
    background-color: white;
    border-radius: 40px;
    border: 10px solid rgba(0, 0, 0, 0.8); 
    text-align: center;
    align-items: center;
    font-size: 40px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: flex;
    padding: 0px;
    cursor: pointer;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 30px;
}

.link{
    width: auto;
    height: auto;
    text-decoration: none;
}

.caja:hover {
    transform: scale(1.05); 
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.3); 
    z-index: 10;
}

.selected{
    outline: 10px double #000000; /* borde extra sin reemplazar el original */
}
