*{
    margin: 0;
    padding: 0;
}

main{
    width: 100vw;
    height: 70vh;

}


.titulo {

    text-align: center;
    font-size: 30px;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: -3%;
}

.video{
display: flex;
justify-content: center;
margin-top: 3%;
}

