*{
    margin: 0;
    padding: 0;
}

header{
        width: 100vw;
        height: 15vh;
}

main{
    width: 100vw;
    height: 70vh;
}

footer{
    width: 100vw;
    height: 15vh;
}

header a{
    height: 100%;
    display: flex;
    align-items: center;
}

footer a{
    height: 100%;
    display: flex;
    align-items: center;
}


.titulo {

    text-align: center;
    font-size: 30px;
    position: relative;
    top: -24px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.video{
width: 100vw;
display: flex;
justify-content: center;
}

