body{
    background-image: url('JUEGO\ 5\ Crucigrama.png');
    background-size: cover; 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
}

.letras {
    display: flex;
    
    width: 5vw;
    height: 5vw;
    background-color: rgba(42, 215, 215, 1);
    margin: 0.5vw; 
}


.divLetras {
    display: flex;
    flex-direction: column;
    gap: 1vw; 
    align-items: center;
}


.cajitas {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 7vw;
    height: 7vw;
    background-color: rgba(23, 149, 141, 1);
    margin: 0.5vw; 
}

.divCajitas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 1vw; 
}

.juegoTerminado {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
}