body{
    background-image: url('JUEGO\ 1.png');
    background-size: cover; 
    background-repeat: no-repeat; 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
}
.img{
    width: 500px;
    display: flex;
    justify-content: center;
    margin-left: 650px;
    margin-top: 50px;
}

.letras {
    display: flex;
    width: 3vw;
    height: 5vw;
    background-color: rgba(42, 215, 215, 1);
    margin: 0.5vw; 
    padding: 1vw;
    border-radius: 10px;
}

/* Mover las letras más arriba */
.divLetras {
    display: grid;
    grid-template-columns: 50% 20%;
    grid-template-rows: 50% 50%;
    justify-items: center;
    align-items: center;
    row-gap: 1vw;
    width: 31%;
    position: absolute;
    top: 35%; /* Cambié este valor para moverlas más arriba */
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.divLetras > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    aspect-ratio: 1/1;
    font-size: 30px;
    color: white;
}

.cajitas {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    width: 7vw;
    height: 7vw;
    background-color: rgba(23, 149, 141, 1);
    margin: 0vw; 
    position: relative;
}

.divCajitas {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: row;
    gap: 2vw; 
    width: 69%;
    left: 31%;
    position: fixed;
    padding-top: 2em;
}

.divCajitas > h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    aspect-ratio: 1/1;
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.juegoTerminado {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
}

.presionado{
    border: 2px solid red;
}
