*{
    margin: 0;
    padding: 0;
}

.hola{

    width: 6vw;
    height: 12vh;
    position: relative;
    
}

.pedro{
    width: 0;
}
.flecha {

    width: 6vw;
    height: 13vh;
    transform: scale(-1);
    position: relative;
    right: -200vh;

}

.titulo {

    text-align: center;
    font-size: 30px;
    width: 1;
    position: relative;
    top: -24px;
     width: 100vw;
     display: flex;
     justify-content: center;
 
}

.todo{

height: 100vh;
width: 100vw;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.video{
width: 100vw;
display: flex;
justify-content: center;
}

