main {
    width: 100vw;
    height: 85vh;
    text-align: center;
    
}

body{
        background-image: url('JUEGUITO.png'); 
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
}
.game-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #303060;
    color: #fff;
    width: 200px;
    height: 200px;
    text-align: center;
}
.player p {
    font-size: 2em; 
    font-weight: bold;
}

.token {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

#tablero {
    height: 540px;
    width: 660px;
    background-color: #3258A7;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* box-shadow: 0 20px 0 #4866C2 inset; */
    border-top: 30px solid #4866C2;
    margin-top: 50px;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;
    background-color: #181446;
    border-radius: 50%;
    border: 5px solid #3258A7;
}

.pieza-roja {
    background-color: yellow;
}

.pieza-amarilla {
    background-color: green;
}


.tableyuruarios {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.player1 {
    margin-left: 7em;
}

.player2 {
    margin-right: 7em;
}


#imagen1, #imagen2 {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    object-fit: cover; 
    z-index: 1;
    display: none; 
}

.juegoTerminado {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
}

.flechar {
    position: fixed;
    z-index: 3;
}

