
main{
    width: 100vw;
    height: 85vh;
}

body{
    background-image: url('FABI.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

main{
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
}

td {
    width: 33%;
    height: 10px;
    text-align: center;
    padding: 0;
}
button {
    width: 100%;
    height: 100%;
    font-size: 40px;
    padding: 0;
    border: none;
    background: none;
    color: #000
}

.card {
    width: 200px; 
    height: 160px;
    border-radius: 20px;
    background-color: white; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.player p {
    font-size: 2em; 
    font-weight: bold;
}

.token {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}   

.player1 {
    margin-left: 7em;
}

.player2 {
    margin-right: 7em;
}

.juegoTerminado {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
}

.flechar {
    position: fixed;
    z-index: 3;
}

.game-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Espacio entre el tablero y cada jugador */
}

/* Ajustes para el tablero */
table {
    width: 50vw;
    height: 75vh;
    border-collapse: collapse;
    background-color: rgba(31, 1, 95, 1);
    border-radius: 30px;
    padding: 30px;
}

/* Ajustes para cada jugador */
.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #303060;
    color: #fff;
    width: 150px;
    text-align: center;
}