    :root{
        --color-primario: rgb(28, 0, 34);
        --line-style: 10px solid var(--color-primario);
        --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    html, body {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    body{
        background-image: url('tateti.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    h1{
        text-align: center;
        font-family: var(--font-family);
        font-size: 4rem;
        color: var(--color-primario);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #contenedorGrilla{
        display: grid;
        grid-template-columns: repeat(3, 0fr);
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(3, 1fr);     
        gap: 10px;
        width: 50vw;
        height: 40vw;
        border-collapse: collapse;
        background-color: rgba(31, 1, 95, 1);
        border-radius: 30px;
        padding: 20px;
        justify-items: center;  
        align-items: center;  
    }

    .cuadrado{
        color: var(--color-primario);
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 8rem;
        transition: 50ms ease-in-out;
        width: 90%; 
        height: 90%; 
        background-color: white;
        cursor: pointer;
        font-size: 7em;  
        font-weight: bold;
        border-radius: 20px;
        font-family: "Instrument Sans", sans-serif;
    }


    dialog{
        text-align: center;
        min-width: 50vw;
        background-color: rgba(240, 248, 255, 0.23);
        padding: 5rem;
        border: unset;
    }

    dialog::backdrop{
        backdrop-filter: blur(3px);
    }

    dialog h2{
        font-family: var(--font-family);
        font-size: xx-large;
    }

    dialog button{
        font-size: larger;
        padding: 1rem;
    }


    .player p {
        font-size: 2em;
        font-weight: bold;
        
    }


    .player1 {
        margin-left: 7em;
    }

    .player2 {
        margin-right: 7em;
    }

    .juegoTerminado {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }


    .game-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
        width: 100%;
        height: 100%;
    }

    .player {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        background-color: #303060;
        color: #fff;
        width: 200px;
        height: 200px;
        text-align: center;
    }

    .token {
        width: 100px;
        height: 100px;
        border-radius: 50%; 
        margin-bottom: 10px;
        background-size: cover; 
        background-position: center; 
    }
    
    .yellow {
        background-image: url('Group\ 246.png'); 
    }
    
    .green {
        background-image: url('Group\ 247.png');
    }
    
    #imagen1, #imagen2, #imagen3{
        position: fixed; 
        top: 0;
        left: 0;
        width: 100vw; 
        height: 100vh; 
        object-fit: cover; 
        display: flex;
        justify-content: center;
        z-index: 1;
        display: none; 
    }
    
    .juegoTerminado {
        width: 100vw;
        height: 100vh;
        position: fixed; 
        display: flex;
        justify-content: center;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        z-index: 2; 
    }
    
    .flechar {
        position: fixed;
        z-index: 3;
    }
    .VJ, .VI {
        position: fixed; /* Mantén los botones en una posición fija */
        z-index: 4; /* Mayor que las imágenes (z-index: 1) */
        width: 380px;
        height: 120px;
        background-color: #1F015F;
        border: 10px solid #2D0288;
        border-radius: 20px;
        font-size: 40px;
        font-family: "Inter", sans-serif;
        color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .VJ {
        bottom: 3%; 
        left: 20%;
    }
    
    .VI {
        bottom: 3%; 
        left: 52%;
    }
    

    .X {
        width: 120px; 
        height: 350px; 
        background-color: white;
        margin-top: 15%;
        background-image: url(../FOTOS/candado.png);
        background-size: cover;
    }

    .〇{
        width: 120px; 
        height: 350px; 
        background-color: white;
        margin-top: 15%;
        background-image: url(../FOTOS/candado.png);
        background-size: cover;
    }