

main{
    width: 100vw;
    height: 70vh;

}

header a{
    height: 100%;
    display: flex;
    align-items: center;
}

footer a{
    height: 100%;
    display: flex;
    align-items: center;
}

body{
    background-color: #4A33A7;
}

.titulo {

    text-align: center;
    font-size: 30px;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: -3%;
}

.video{
width: 100vw;
display: flex;
justify-content: center;
margin-top: 3%;
}

