body{
    background-image: url('JUEGO\ 3.png');
    background-size: cover; 
    position: fixed;

}

main{
    width: 100vw;
    height: 85vh;
}

.palabra {
    font-size: 2em;
    color: white;
    text-align: center;
    margin-top: 10vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    display: inline-block;
    margin-right: 145px; 
    margin-left: 40px;
    background-color: rgba(0, 125, 50, 1);
    border-radius: 10px;
    width: 170px;
    height: 60px;
    padding-top:0.7%;
    box-sizing: border-box;
    cursor: pointer;

}

.flechar {
    position: fixed;

}
 .img{
    width: 400px;
    height: 400px
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#todasPalabras {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}

.VJ, .VI {
    position: fixed;
    width: 380px;
    height: 120px;
    background-color: #17958D;
    border: 10px solid #12AFA6;
    border-radius: 20px;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 3; 
}

.presionado {
    border: 10px solid rgb(255, 255, 255);
}

.VJ {
    bottom: 3%;
    left: 20%;
}

.VI {
    bottom: 3%;
    left: 52%;
}
