body{
    background-image: url('JUEGO\ 3.png');
    background-size: cover; 

}

main{
    width: 100vw;
    height: 85vh;
}

.palabra{
    font-size: 2em;
    color: white;
    text-align: center;
    margin-top: 10vh;
    
}
